altgraph~=0.17.2
macholib~=1.15.2
numpy==1.26.4
opencv-python==4.11.0.86
packaging~=24.2
pdf2image==1.17.0
pillow~=11.0.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4

PyMuPDF==1.25.5
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0

setuptools~=58.0.4
future~=0.18.2
pip~=21.2.4
configparser~=7.1.0
wheel~=0.37.0
filelock~=3.17.0
charset-normalizer~=3.4.1
pytz~=2025.1
zipp~=3.21.0
